.filter-container{
    border: 1px solid black;
    width: 20vw;
    height: 80vh;
}
.filter{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 60vh;
}
.clear-filter{
   all:unset;
   height: 50px;
   width: 99%;
   background-color: #DBA39A;
   text-align: center;
   font-size: 20px;
   border: 1px solid black;
}
.clear-filter:hover{
    border: 1px solid #65647C;
    cursor: pointer;
}