.product-container{
   width: 100%;
   display: flex;
   justify-content: center;
   
    

}
.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filter-container{
    height: 800px;
    width: 700px;
    border: 2px solid black;
}
.gender{
    margin-top: 10px;
}
.dress-category{
    margin-top: 10px;
}